# Incompatible with earlier PIP versions
pip>=7.1.0
# bcolz fails to install if this is not in the build_requires.
setuptools==38.5.1

# Logging
Logbook==0.12.5

# Scientific Libraries

pytz==2016.4

# FF: Upgraded numpy because of errors with version 1.11
numpy==1.14.0

# for pandas-datareader
requests-file==1.4.3

# scipy and pandas are required for statsmodels,
# statsmodels in turn is required for some pandas packages
scipy==1.0.0
pandas==0.19.2
pandas-datareader==0.6.0
# Needed for parts of pandas.stats
patsy==0.5.0
statsmodels==0.8.0

python-dateutil==2.7.3
six==1.11.0

# For fetching remote data
requests==2.20.1

Cython==0.27.3

# faster OrderedDict
cyordereddict==1.0.0

# faster array ops.
bottleneck==1.2.1

contextlib2==0.5.5

# networkx requires decorator
decorator==4.3.0

# Graph algorithms used by catalyst.pipeline
networkx==2.1

# NumericalExpression pipeline terms.
numexpr==2.6.4

# On disk storage format for pipeline data.
bcolz==1.2.1

# Command line interface helper
click==6.7

# FUNctional programming utilities
toolz==0.9.0
multipledispatch==0.4.9

# for alembic
MarkupSafe==1.0
Mako==1.0.7
# Asset writer and finder
sqlalchemy==1.2.2
# For asset db management
alembic==0.9.7

# for intervaltree
sortedcontainers==1.5.9
intervaltree==2.1.0

# for caching
lru-dict==1.1.6

# For financial risk calculations
empyrical==0.2.1

tables==3.4.2

certifi==2018.1.18

#Catalyst dependencies
ccxt==1.17.94
boto3==1.5.27
redo==2.0.1
web3==4.4.1; python_version > '3.4'
requests-toolbelt==0.8.0
